/*
https:/codepen.io/NielsVoogt/pen/MbMMxv/ 
source of timeline styles
*/

img,
table {
    width: 100%;
    height: auto;
}

h6 {
    display: none;
}

/*default styles for some unstyled elements*/
hr {
    border: none;
    border-top: 1px solid rgba(222, 222, 223);
}

blockquote,
q {
    padding: 1rem;
    margin-left: 0;
    border-left: 4px solid rgba(118, 118, 118);
}

/*timeline stuff*/
.timeline {
    margin: 0 auto;
}

.timeline-item {
    padding: 3em 2em 2em;
    position: relative;
    border-left: 2px solid rgba(0, 181, 173);
    margin: 0;
}

.timeline-item p {
    font-size: 1rem;
}

.timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-weight: 700;
    font-size: 0.8rem;
}

.timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(0, 181, 173);
    background: white;
}

.timeline-item:last-child {
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 181, 173)), to(rgba(0, 181, 173,0))) 1 100%;
    -webkit-border-image: linear-gradient(to bottom, rgba(0, 181, 173) 60%, rgba(0, 181, 173,0)) 1 100%;
    -o-border-image: linear-gradient(to bottom, rgba(0, 181, 173) 60%, rgba(0, 181, 173,0)) 1 100%;
    border-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 181, 173)), to(rgba(0, 181, 173,0))) 1 100%;
    border-image: linear-gradient(to bottom, rgba(0, 181, 173) 60%, rgba(0, 181, 173,0)) 1 100%;
}